apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: status
  labels:
    app: status
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - luxstat.us
      secretName: luxstat-us-tls
  rules:
    - host: luxstat.us
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: status
                port:
                  number: 80
